.post-meta figure {
    height: 400px;
}

.carousel-inner img {
    width: 1000px !important;
    height: 400px;
}

.newpst-input label {
    margin-left: 100px;
}

.newpst-input input {
    border-radius: 20px;
}

.btn-danger {
    width: 120px !important;
    border-radius: 15px;
    text-align: center !important;
}

.image-single {
    height:500px;
}

.user-image {
    width: 120px;
    height: 80px;
}

.more-post-optns ul {
    width: 140px !important;
}

.story-date {
    margin-top: -10px;
}

.list_image img {
    height: 50px;
    width: 50px;
}

.follow {
    float: left;
}

#unfollow {
    display: none;
}
