.post-meta figure {
    height: 400px;
}

.carousel-inner img {
    width: 1000px !important;
    height: 400px;
}

.newpst-input label {
    margin-left: 100px;
}

.newpst-input input {
    border-radius: 20px;
}
