/* CSS for login page */
.contained{
    position: relative;
    background-color: #fff;
    width: 400px;
    padding: 20px 30px 35px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.9), 0 5px 5px rgba(0, 0, 0, 0.3);

}

.form-info{
    width: -webkit-fill-available;
    margin-bottom: 10px;
    padding: 10px;
    vertical-align: middle;
    border: none;
    background: #D6DBDF;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    margin-top: 5px;
}

.invalid-feedback{
    color: red;
}

.remember_me {
    margin: 5px 0px 20px 0px;
}

.remember_me label input {
    margin: 0;
}

.button {
    margin: 0px auto;
    display: block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background: #5DADE2;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.user-avatar-img {
    width: 50px;
    height: 50px;
}

.profile-post-img {
    height: 400px;
}

.post-pf-carousel-img {
    width: 1000px;
    height: 400px;
}

.user-img-change-profile {
    width: 80px;
    height: 80px;
}

.edit-button {
    padding: 8px 40px;
    background: #fa6342;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.user-post-img {
    width: 70px;
    height: 70px;
}

.cmt {
    background-color: #E5E7E9;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 6px;
}

.user-image {
    height: 60px;
}

.cmt-image {
    width: 36px;
    height: 36px;
}
